<!-- <html>
    <head>
        <title>Home Page - Microblog</title>
    </head>
    <body>
        <h1>Hello,{{ user.username}}</h1>
    </body>
</html> -->

<html>
    <head>
        {%if title%}
        <title> {{title}}_microblog </title>
        {%else%}
        <title>welcome</title>
    </head>
    <body>
        <h1>Hi,{{user.username}}</h1>
        {%for post in posts%}
        <div>
            <p>{{post.author.username}} says:<b>{{<post.body}}</b></p>
        </div>
        {%endfor%}
     
    </body>
</html>

